.measure {
    font-family: monospace;
    font-size: 12;
}

.axis text {
  font: 10px sans-serif;
}

.result {
    font-family: monospace;
    font-size: 12;
}

.legend text {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.avgline line {
	fill: none;
	stroke-width: 2;
}

.x.axis path {
  display: none;
}
.error {
  color: #cc0000;
}
